@model UserModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="loading">Loading&#8230;</div>
<div class="container">
    <form id="RegisterForm" method="post" asp-action="index" asp-controller="home">
        <div class="form-group">
            <label asp-for="name"></label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="surname"></label>
            <input asp-for="surname" class="form-control" />
            <span asp-validation-for="surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BirthDay"></label>
            <input asp-for="BirthDay" class="form-control" />
            <span asp-validation-for="BirthDay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender"></label>
            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserRegistirationTypeId"></label>
            <select asp-for="UserRegistirationTypeId" asp-items="@(new SelectList(Model.UserRegistrations,"id","registirationtype"))" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="UserRegistirationTypeId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-dark"> Kaydet</button>
        
    </form>
</div>
@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function () {
            var loading = $(".loading");
            loading.hide();
            $("#RegisterForm").on("submit", function () {
                if (!$(this).valid())
                    return;
                loading.show();
            })
        })
    </script>
}

